{% load static %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
          rel="stylesheet">

    <title>
        {% block titel %}

        {% endblock %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href={% static "Home_app/vendor/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static "Home_app/assets/css/fontawesome.css" %}">
    <link rel="stylesheet" href="{% static "Home_app/assets/css/templatemo-stand-blog.css" %}">
    <link rel="stylesheet" href="{% static "Home_app/assets/css/owl.css" %}">
    <!--

    TemplateMo 551 Stand Blog

    https://templatemo.com/tm-551-stand-blog

    -->
</head>
